*~
tags
cscope.*
perf.data*
*.log
*#
.#*
exp/
__*.txt
*.pyc

sync/bin
os/Xv6-kernel-threads/bootother
os/Xv6-kernel-threads/fs/*
os/Xv6-kernel-threads/initcode
os/Xv6-kernel-threads/kernel/bootblock
os/Xv6-kernel-threads/kernel/kernel
os/Xv6-kernel-threads/kernel/vectors.S
os/Xv6-kernel-threads/tools/mkfs
os/Xv6-kernel-threads/user/bin/
os/Xv6-kernel-threads/xv6.img


# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
